.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.headingData {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingData h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}
.headingData p {
  text-align: center;
  font-size: 21px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.tabContainer {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tabButton {
  padding: 10px 20px;
  background-color: var(--color-whitesmoke-100);
  border: solid 1px var(--color-black);
  color: var(--color-black);
  cursor: pointer;
  border-radius: var(--br-sm);
  font-size: 16px;
}

.tabButton:hover {
  background-color: var(--color-whitesmoke-200);
}

.active {
  background-color: var(--color-darkorange-100);
  color: var(--color-white);
  border: 0.5px solid var(--color-dimgray);
  font-weight: bold;
}

.active:hover {
  background-color: var(--color-darkorange-100);
  color: var(--color-white);
  border: 0.5px solid var(--color-dimgray);
  font-weight: bold;
}

.tabContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: auto; */
  justify-content: center;
  margin: 0 20px;
  gap: 15px;
  padding: 20px;
  margin-top: 40px;
}

.imageContainer {
  max-width: 350px;
  max-height: 450px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  font-weight: normal;
  font-size: 19px;
  color: var(--color-darkorange-100);
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
}

.card p {
  font-weight: bold;
  font-size: 25px;
  text-wrap: wrap;
  margin: 0;
  padding-right: 50px;
}

@media (max-width:1200px) {
  .tabContent{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:568px) {
    .headingData h1{
      font-size: xx-large;
      text-align: center;
    }
    .headingData p{
      font-size: medium;
      text-align: center;
    }
}