@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0 ;
  line-height: normal;
  overflow-x: hidden;

}

* {
  font-family: var(--nav-bar-text-21);
}
:root {
  /* fonts */
  --nav-bar-text-21: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --nav-bar-text-21-size: 21px;
  --font-size-mid: 17px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --sub-heading-24-size: 24px;
  --h2-65-size: 65px;
  --font-size-33xl: 52px;
  --font-size-20xl: 39px;
  --sub-p-19-size: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --main-heading-h1-size: 100px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;

  /* Colors */
  --footer-bg: #f8f8f8;
  --color-white: #fff;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #edecec;
  --color-dimgray: #545454;
  --color-darkorange-100: #fd6f00;
  --color-darkorange-200: rgba(253, 111, 0, 0.6);
  --color-black: #000;
  --color-gray-100: #7a7a7a;
  --color-gray-200: #797979;
  --color-gray-300: #1e1e1e;
  --color-orangered: #e35700;
  --color-darkgray: #afafaf;
  --color-gainsboro-100: #dedede;
  --color-gainsboro-200: #d9d9d9;
  --color-darkslategray: #424242;
  --color-antiquewhite: #ffebdb;
  
  /* Border radiuses */
  --br-sm: 14px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-8xs: 5px;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --footer-bg:#121212;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.center .slick-center {
  color: #e67e22;
  opacity: -1;
  transform: scale(1.08);
}


.splide__slide {
  opacity: 0.1;
  transition: opacity 0.5s ease; /* Smooth transition */
}

.splide__slide.is-active {
  opacity: 0.5;
}

.splide__slide.is-visible {
  opacity: 1;
}

/* Customize the container of the pagination dots */
.splide__pagination {
  position: relative; /* Position as needed */
  bottom: -80px !important;
  display: flex;
  justify-content: center; /* Center the dots */
}
/* Customize each dot */
.splide__pagination__page {
  min-width: 50px;
  height: 12px !important;
  border-radius: 10px !important; /* Make them circular */
  transition: background-color 0.3s ease;
}

/* Change the appearance of the active dot */
.splide__pagination__page.is-active {
  background-color: var(--color-darkorange-100) !important; /* Active color */
  transform: none !important;
}
