.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 80px;
}
.headingData {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingData h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}
.headingData p {
  text-align: center;
  font-size: 21px;
}

.testimonialContent {
  max-width: 1500px;
  min-height: 300px;
  margin-top: 40px;
}

.testimonialCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  color: var(--color-black);
  padding: 20px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* margin: 1 10px; */
  /* overflow: hidden; */
}

.imageContainer {
  width: 200px;
  height: 130px;
  margin-bottom: 15px;
  overflow: hidden; /* Prevents the image from overflowing */
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image fits perfectly */
}

.textContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.textContent p {
  margin: 0;
}
.textContent h2 {
  margin: 0;
  font-size: 18px;
  margin-top: 10px;
}
.textContent p:nth-child(2){
  margin: 0;
  font-size: 8px;
}
.textContent span{
  color: var(--color-darkorange-100);
  font-size: 20px;
  margin: 0;
}

@media (max-width: 778px) {
  .testimonialContent{
    max-width: 800px;
  }
}

@media (max-width:568px) {
  .headingData h1{
    font-size: xx-large;
    text-align: center;
  }
  .headingData p{
    font-size: medium;
    text-align: center;
  }
}